*{
    margin: 0;
    padding: 0;
}
.main{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(/tree-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px; 
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    padding-top: 10px;
    padding-left: 20px;
    float:left;
}

.menu{
    color:rgb(233, 233, 243);
    width: 400px;
    float: left;
    height: 70px;
    

}

ul {
float: left;
justify-content: center;
align-items: center;
display: flex;
}
ul li{
    /* display: inline-block; */
    list-style: none;
    margin-left: 90px;
    margin-top: 27px;
    font: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
} 
ul li a:hover{
    color: orange;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.serch{
    font-family: 'Times New Roman',;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1 px solid red;
    margin-top: 13px;
    margin-right: 30px;
    color: azure;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius:   5px;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: orange;
    border: 2px solid orange;
    margin-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.search:focus{
    outline: none;
}
.btn:hover{
    background-color:aqua;
}
.content{
    width: 1200px;
    height: auto;
    color:white;
    margin-left: 40px;
    margin-top: 30px;
}
.content p{
    /* padding-left: 20px; */
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-right: 9%;
    letter-spacing: 2px;
}
.content .cnp{
width: 160px;
height: 40px;
background-color: orange;
border: none;
margin-left: 20px;
font-size: 18px;
border-radius: 20px;
cursor: pointer;
}
.cnp  a{
    color: black;
}
.content .cnp:hover{
    background-color: aqua;
}
.content span{
    color: orange;
}
.form{
    width: 250px;
    height: 480px;
    background: linear-gradient(to top, rgba(0,0,0.8)50%,rgba(0,0,0.8)50%);
    position: absolute;
    top: 80px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
width: 220px;
font-family: sans-serif;
text-align: center;
color: orange;
font-size: 22px;
background-color: beige;
border-radius: 10px;
margin: 2px;
padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background-color: transparent;
    margin-top: 30px;
    color: azure;
    font-size: 15px;
    letter-spacing: 1px;

}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 25px;
    border: none;
    background: orangered;
    margin-top: 30px;
    font-size: 20px;
    cursor: pinter;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    
}

.btnn:hover{
    background-color: rgb(238, 228, 228);
    color: orange;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: orange;
}